body {
  color: #454545;
  line-height: 1.5em;
  margin: 3em auto 2em;
  width: 42em;
}

h1 { margin-bottom: 1em; }
h1 { color: #111; }
h2 { color: #333; }
h3 { color: #777; }
p { margin: 1em 0; }
a { color: #638dbe; }

blockquote {
  margin-right: 0;
  padding-left: 1em;
  color: #666;
  border-left: 5px #999 solid;
}

nav a { font-weight: bold; }
header {
  h1 { margin-bottom: 0; }
  h2 { font-size: 1.1em; }
}
footer { font-size: 0.8em; }

.posts {
  padding: 0;
  list-style-type: none;

  .date {
    font-size: 0.85em;
  }
  .date:after {
    content: " -"
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}