body {
  color: #454545;
  line-height: 1.5em;
  margin: 3em auto 2em;
  width: 42em;
}

h1 { margin-bottom: 1em; }
h1 { color: #111; }
h2 { color: #333; }
h3 { color: #777; }
p { margin: 1em 0; }
a { color: #638dbe; }
ul,ol { margin-left: 1.35em; }

blockquote {
  margin-right: 0;
  padding-left: 1em;
  color: #666;
  border-left: 5px #999 solid;
}

code {
  font-size: 0.8em;
}

pre {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  padding: 0 .4em;

  &.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
    code {
      background-color: #333;
    }
  }
}

code {
  border: 1px solid #f6f6f6;
  padding: 0 .2em;
}

pre code {
  border: none;
}

nav a { font-weight: bold; }
header {
  h1 { margin-bottom: 0; }
  h2 { font-size: 1.1em; }
}
footer { font-size: 0.8em; }

.posts {
  padding: 0;
  list-style-type: none;

  .date {
    font-size: 0.85em;
  }
  .date:after {
    content: " -"
  }
}